<ul class="nav nav-pills" id="mainNav">
	<li class="dropdown">
		<a class="dropdown-item" href="/">
			Home
		</a>
	</li>
	<li class="dropdown">
        <a class="dropdown-item" href="/Projects">
        	Projects
        </a>
	</li>
	<li class="dropdown">
		<a class="dropdown-item dropdown-toggle" href="#">
			Products & services
		</a>
		<ul class="dropdown-menu">
			<li>
				<a class="dropdown-item" href="/Products">Products</a>
			</li>
			<li>
				<a class="dropdown-item" href="/Services">Services</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
    	<a class="dropdown-item dropdown-toggle" href="#">
    		About us
    	</a>
    	<ul class="dropdown-menu">
    		<li>
    			<a class="dropdown-item" href="/Team">Team</a>
    		</li>
    		<li>
    			<a class="dropdown-item" href="/Company">Company</a>
    		</li>
    	</ul>
    </li>
</ul>
