@{
    ViewData["Title"] = "Home";
	Layout = "_Layout";
}

<div role="main" class="main">

	@* Slides *@
	<div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center dots-light show-dots-hover nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 7000}" data-dynamic-height="['670px','670px','670px','550px','500px']" style="height: 670px;">
    	<div class="owl-stage-outer">
    		<div class="owl-stage">

    			<!-- Carousel Slide 1 -->
    			<div class="owl-item position-relative overlay overlay-color-primary overlay-show overlay-op-8" style="background-image: url(/img/slides/slide-corporate-1-1.jpg); background-size: cover; background-position: center;">
    				<div class="container position-relative z-index-3 h-100">
    					<div class="row justify-content-center align-items-center h-100">
    						<div class="col-lg-6">
    							<div class="d-flex flex-column align-items-center">
    								<h3 class="position-relative text-color-light text-4 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}">
    									<span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
    										<img src="img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
    									</span>
    									WEB BUILD CUSTOM .NET SOFTWARE, WE ARE
    									<span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
    										<img src="img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
    									</span>
    								</h3>
	                                <h2 class="porto-big-title text-color-light font-weight-extra-bold mb-3" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 250, 'animationName': 'fadeInRightShorterOpacity', 'letterClass': 'd-inline-block'}">.NET</h2>
	                                <h2 class="porto-big-title text-color-light font-weight-extra-bold mb-3" data-plugin-animated-letters data-plugin-options="{'startDelay': 2000, 'minWindowWidth': 0, 'animationSpeed': 250, 'animationName': 'fadeInRightShorterOpacity', 'letterClass': 'd-inline-block'}">Works</h2>
	                                <p class="text-4 text-color-light font-weight-light text-center mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 3000, 'minWindowWidth': 0}">The best choice for your custom software development</p>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>

    			<!-- Carousel Slide 2 -->
    			<div class="owl-item position-relative overlay overlay-show overlay-op-8" style="background-image: url(/img/slides/slide-corporate-1-2.jpg); background-size: cover; background-position: center;">
    				<div class="container position-relative z-index-3 h-100">
    					<div class="row justify-content-center align-items-center h-100">
    						<div class="col-lg-7">
    							<div class="d-flex flex-column align-items-center">
    								<h2 class="text-color-light font-weight-extra-bold text-13 mb-4 appear-animation" data-appear-animation="blurIn" data-plugin-options="{'minWindowWidth': 0}">AWESOME SOFTWARE</h2>
    								<p class="text-4-5 text-color-light font-weight-light opacity-7 text-center mb-4" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 25}">We focus on providing maximum value for you</p>
                                </div>
    						</div>
    					</div>
    				</div>
    			</div>

    		</div>
    	</div>
    	<div class="owl-dots mb-5">
    		<button role="button" class="owl-dot active"><span></span></button>
    		<button role="button" class="owl-dot"><span></span></button>
    	</div>
    </div>

	@* Word rotator *@
	<div class="row text-center pt-4">
		<div class="col">
			<h2 class="word-rotator slide font-weight-bold text-8 mb-2">
				<span>We're not the only ones </span>
				<span class="word-rotator-words bg-primary">
					<b class="is-visible">excited</b>
					<b>happy</b>
				</span>
				<span> about our work ...</span>
			</h2>
			<h4 class="text-primary lead tall text-4">MEET SOME OF OUR CUSTOMERS</h4>
		</div>
	</div>
	
	@* Clients *@
    <div class="row text-center mt-5">
        <div class="owl-carousel owl-theme" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
        	<div>
        		<img class="img-fluid" src="~/img/clients/achmea.png" alt="">
        	</div>
        	<div>
                <img class="img-fluid" src="~/img/clients/caesar.png" alt="">
            </div>
        	<div>
        		<img class="img-fluid" src="~/img/clients/crossing_channels.png" alt="">
        	</div>
        	<div>
        		<img class="img-fluid" src="~/img/clients/fortis.png" alt="">
        	</div>
        	<div>
        		<img class="img-fluid" src="~/img/clients/mmit.png" alt="">
        	</div>
        	<div>
        		<img class="img-fluid" src="~/img/clients/rabobank.png" alt="">
        	</div>
            <div>
    	        <img class="img-fluid" src="~/img/clients/robidus.png" alt="">
            </div>
            <div>
    	        <img class="img-fluid" src="~/img/clients/umg.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="~/img/clients/ing.png" alt="">
            </div>
        </div>
    </div>
	
	@* Team *@
	
	@* Services *@

	@* Latest Posts *@
</div>

