@{
    ViewData["Title"] = "Who we are";
	Layout = "_Layout";
}

<div role="main" class="main">
	<section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(img/page-header/page-header-about-us.jpg);">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="text-9 font-weight-bold">Who are we?</h1>
					<span class="sub-title">Get to know us</span>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<div class="row pt-5">
			<div class="col">

				<div class="row text-center pb-5">
					<div class="col-md-9 mx-md-auto">
						<div class="overflow-hidden mb-3">
							<h1 class="word-rotator slide font-weight-bold text-8 mb-0">
								<span>Want to build software the smart way?</span>
								<br/>
								<span>Develop </span>
								<span class="word-rotator-words bg-primary">
									<b class="is-visible">Better</b>
									<b>Faster</b>
									<b>Cheaper</b>
								</span>
								<span> ?</span>
							</h1>
						</div>
						<div class="overflow-hidden mb-3">
				            <p class="featured lead">
				                How we do that? 
				                <span class="alternative-font">Better</span> because we focus on features that add most value 
				                <span class="alternative-font">Faster</span> by using proven technology, a time-tested architecture and standard libabries & components
				                <span class="alternative-font">Cheaper</span> because we deliver in small increments and deploy to a Cloud Privider (Azure) 
				            </p>
						</div>
					</div>
				</div>

				<div class="row mt-3 mb-5">
					<div class="col-md-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800">
						<h3 class="font-weight-bold text-4 mb-2">Our Mission</h3>
						<p>Build innovative software solutions to solve today's most urgent problems</p>
					</div>
					<div class="col-md-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
						<h3 class="font-weight-bold text-4 mb-2">Our Vision</h3>
						<p>While we value technical excellence, we value delivering business value more</p>
					</div>
					<div class="col-md-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800">
						<h3 class="font-weight-bold text-4 mb-2">Why Us</h3>
						<p>More than 15 years of experience in delivering results</p>
					</div>
				</div>

			</div>
		</div>

	</div>

	<section class="section section-primary border-0 mb-0 appear-animation" data-appear-animation="fadeIn" data-plugin-options="{'accY': -150}">
		<div class="container">
			<div class="row counters counters-sm pb-4 pt-3">
				<div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
					<div class="counter">
						<i class="icons icon-user text-color-light"></i>
						<strong class="text-color-light font-weight-extra-bold" data-to="9" data-append="+">0</strong>
						<label class="text-4 mt-1 text-color-light">Happy Clients</label>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
					<div class="counter">
						<i class="icons icon-badge text-color-light"></i>
						<strong class="text-color-light font-weight-extra-bold" data-to="12">0</strong>
						<label class="text-4 mt-1 text-color-light">Years In Business</label>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="counter">
						<i class="icons icon-cup text-color-light"></i>
						<strong class="text-color-light font-weight-extra-bold" data-to="11">0</strong>
						<label class="text-4 mt-1 text-color-light">Succesful projects</label>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

