@{
    ViewData["Title"] = "Who we are";
	Layout = "_Layout";
}

<div role="main" class="main">
	<section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(img/page-header/page-header-about-us.jpg);">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="text-9 font-weight-bold">Our Services</h1>
					<span class="sub-title">Read what we can do for you</span>
				</div>
			</div>
		</div>
	</section>

	<div class="container pb-1">

    	<div class="row pt-4">
    		<div class="col">
    			<div class="overflow-hidden mb-3">
    				<h2 class="font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
    					We Are Here To Help You
    				</h2>
    			</div>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col-lg-10">
    			<div class="overflow-hidden">
    				<p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
    					With a proven track record in custom software development using .NET core we help you to create innovative solutions that provide maximum value.
    				</p>
    			</div>
    		</div>
        </div>

    	<div class="row">
    		<div class="col py-3">
    			<hr class="solid mt-5 mb-2">
    		</div>
    	</div>

    	<div class="row">
    		<div class="featured-boxes featured-boxes-style-2">
    			<div class="row">
    				<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="700">
    					<div class="featured-box featured-box-effect-4">
    						<div class="box-content">
    							<i class="icon-featured icon-screen-tablet icons text-color-primary bg-color-grey"></i>
    							<h4 class="font-weight-bold">Mobile Apps</h4>
    							<p class="px-3">Using Google's Flutter allows us to build apps that work both on Android- and IOS devices with native device performance</p>
    						</div>
    					</div>
    				</div>
    				<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="900">
    					<div class="featured-box featured-box-effect-4">
    						<div class="box-content">
    							<i class="icon-featured icon-layers icons text-color-light bg-color-primary"></i>
    							<h4 class="font-weight-bold">Web Applications</h4>
    							<p class="px-3">Innovative .NET core web applications that are easy to develop, extend and scale</p>
    						</div>
    					</div>
    				</div>
    				<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100">
    					<div class="featured-box featured-box-effect-4">
    						<div class="box-content">
    							<i class="icon-featured icon-magnifier icons text-color-primary bg-color-grey"></i>
    							<h4 class="font-weight-bold">APIs</h4>
    							<p class="px-3">APIs build using .NET core so you can provide functionality seamlessly both within and oustide of your own organization</p>
    						</div>
    					</div>
    				</div>
    				<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1500">
    					<div class="featured-box featured-box-effect-4">
    						<div class="box-content">
    							<i class="icon-featured icon-screen-desktop icons text-color-light bg-color-primary"></i>
    							<h4 class="font-weight-bold">Agile Methodology</h4>
    							<p class="px-3">Continuous delivery in small increments, so we always focus on what is most important to you</p>
    						</div>
    					</div>
    				</div>
    				<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1300">
    					<div class="featured-box featured-box-effect-4">
    						<div class="box-content">
    							<i class="icon-featured icon-doc icons text-color-primary bg-color-grey"></i>
    							<h4 class="font-weight-bold">Clean Architecture</h4>
    							<p class="px-3">Proven architecture that scales together with your ambitions</p>
    						</div>
    					</div>
    				</div>
    				<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1100">
    					<div class="featured-box featured-box-effect-4">
    						<div class="box-content">
    							<i class="icon-featured icon-menu icons text-color-light bg-color-primary"></i>
    							<h4 class="font-weight-bold">Cross Platform</h4>
    							<p class="px-3">Deploy to any (private) Cloud Provider on either Linux or Windows</p>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>

